# MongoDB Atlas Database Credentials for Task 2 & 3
MONGODB_URI=mongodb+srv://nkusiyvette1_db_user:YOUR_NEW_PASSWORD_HEREz@cluster0.nsxkun2.mongodb.net/walmart_sales_db
DB_NAME=walmart_sales_db

# MySQL Database Credentials
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=your_local_mysql_password_here
MYSQL_DATABASE=walmart_sales_db